
html {
  font-size: 62.5%;
}

/* tamaños de las imagenes (temporal)*/

img{
  width: 100px;
  align-content: center;
}

/* fondo de pantalla */
body{
  font-size: 16px;  
  background-image: url("img/hojas.png");
  background-size: 100% 25%;
  background-position: 0 -7rem;
  background-repeat: no-repeat;
  margin: 0;
}

.nav-bg{
  background-color: rgba(221, 177, 65, 0.6);
  opacity: 0.8; 
}

.navegacion-principal {
 display:flex;
 justify-content: space-evenly;
}

.navegacion-principal a{
  color: rgb(27, 40, 51);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 750;
  font-family: 'Sacramento', cursive;
  padding: .5rem;
 }

 .navegacion-principal a:hover{
  background-color: rgb(240, 129, 3);
  border: none;
 }
 
.ppagina {
  background-color: rgba(221, 177, 65, 0.6);
  opacity: 0.8;
  height: 6rem;
}

.footer {
  display:flex;
  justify-content: center;
  left: 1rem;
  align-items: center;
  font-family: 'Kalam', cursive;
}

.banner-home{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
   
 }

 h1{
   font-size: 600%;
   font-family: 'Montez', cursive;
   color: rgba(212, 140, 32, 1);
   font-weight: lighter;
   margin: 25% -10% 0% 30%;
  }

 h2{
   font-family:'Sacramento', cursive;
   font-size: 300%;
   margin: 0% 0% 5% 54%; /* revisar margenes*/
   align-content: center;
 }

 h3{
  font-family:'Kalam', cursive;
  font-size: 150%;
  align-content: center;
  color: rgba(212, 140, 32, 1);
  text-align: center;
}

  h4{
  font-family:'Sacramento', cursive;
  font-size: 300%;
  color: rgba(212, 140, 32, 1);
  text-align: center;
  }

.titulos{
  font-family:'Sacramento', cursive;
  font-size: 300%;
  text-align:center;
}

 .img-home{
   width: 80%;
   margin: 10% 10% 5% -10%;
 }

 .titulos-home{
   width: 50%;
 }

 .espacio-imghome{
   width: 50%;
 }

.contenedor-servicios{
  display: flex;
  justify-content: space-around;
}

 .servicios{
   display: flex;
   flex-direction: column;
   font-size: 1.3rem;
   align-items: center;
   justify-content: center;
 }

.img-servicios{
  display: flex;
  border-radius: 50%;
  background-color: rgba(215, 186, 143, 0.25);
  width: 15rem;
  align-items: center;
  justify-content: space-around;
  
}

.contenedor-puntosdeventa{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.punto-venta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 250px;
}

.contenedor-productos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Kalam', cursive;
 
}

.tiendas{
  width: 15rem;
  display: flex;
  background-color: rgba(215, 186, 143, 0.25);
  border-radius: 5%;
}

.producto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(215, 186, 143, 0.25);
  border-radius: 20px;
  padding: 40px;
  }

.producto{
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.imagen-productosdulcitos{
  display: block;
  margin: auto;
}

.botonprecios{
  display: flex;
  justify-content: space-around;
  margin: 3%;
  
}

.cera-1{
  display: block;
  position: absolute;
  margin: 150px 0px 0px 120px;
  }

.cera-2{
  display: block;
  position: absolute;
  margin: 0px 10px 200px 100px;
}

.cera-3{
  display: block;
  position: absolute;
  margin: 150px 0px 0px 100px;
}

.cera-4{
  display: block;
  position: absolute;
  margin: 0px 10px 200px 130px;
}

.pagina2titulo{
display: flex;
justify-content: center;
}

.abejapagina2{
  position: absolute;
  margin: 15px 0px 0px -200px;
}

.seleccionmiel{
  background-color: rgba(244, 228, 79, 0.61);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-family: kalam;
}

.seleccionjalea{
  background-color: rgba(244, 228, 79, 0.61);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-family: kalam;
}

.seleccionpolen{
  background-color: rgba(244, 228, 79, 0.61);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-family: kalam;
}

.seleccioncereal{
  background-color: rgba(244, 228, 79, 0.61);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  font-family: kalam;
}

.btns-producto{
  display: flex;
  flex-direction: column;
   
}

#Carrito{
  margin: auto;
  padding: 15px;
  background-color:rgba(113, 146, 59, 0.77);
  border-radius: 20px;
  font-family: Sacramento;
  font-size: large;
  color: aliceblue;
}

#Pagos{
  padding: 15px;
  margin: 20px 600px 20px;
  background-color:rgba(113, 146, 59, 0.77);
  border-radius: 20px;
  font-family: Sacramento;
  font-size: large;
  color: aliceblue;
  
}

.iconcarrito{
  position: absolute;
  margin: 0px 0px 0px 550px;
}

/* pagina final validacion tarjeta*/



