
html {
  font-size: 62.5%;
}

/* tamaños de las imagenes (temporal)*/

img{
  width: 100px;
}

/* fondo de pantalla */
body{
  font-size: 16px;  
  background-image: url("img/hojas.png");
  background-size: 100% 25%;
  background-position: 0 -7rem;
  background-repeat: no-repeat;
  margin: 0;
}


.nav-bg{
  background-color: rgba(221, 177, 65, 0.6);
  opacity: 0.8; 
}

.navegacion-principal {
 display:flex;
 justify-content: space-evenly;
}

.navegacion-principal a{
  color: rgb(27, 40, 51);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 750;
  font-family: 'Sacramento', cursive;
  padding: .5rem;
 }

 .navegacion-principal a:hover{
  background-color: rgb(240, 129, 3);
  border: none;
 }

 
.ppagina {
  background-color: rgba(221, 177, 65, 0.6);
  opacity: 0.8;
  height: 6rem;
}

.footer {
 display:flex;
 justify-content: center;
 left: 1rem;
 align-items: center;
 font-family: 'Kalam', cursive;
}


 header{
   display: flex;
 }

 h1{
   font-size: 8rem;
   font-family: 'Montez', cursive;
   color: rgba(212, 140, 32, 1);
   font-weight: lighter;
   margin: 22rem 6rem 0rem 10rem;
  }

 h2{
   font-family:'Sacramento', cursive;
   font-size: 4rem;
   margin: 0rem 0rem 10rem 30rem;
 }

 .img-home{
   width: 72rem;
   margin: 9rem 5rem 10rem 0rem;
 }

/* ajustes página titulada Productos dulcitos */

